# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore captured outputs
outputs/
*.jpg

# Ignore model files if not open-source
*.pt
*.bin

# OS/macOS/system files
.DS_Store
Thumbs.db
